# Ignore all files except the bare essentials
# Loading the project will be slow, but this saves gigabytes of repo space
.vs/
Binaries/
Intermediate/
Plugins/**/Binaries/
Plugins/**/Intermediate/
Plugins/**/Saved/
Saved/
